@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #fff;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    padding: 24px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.logo {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.logo img {
    width: 50px;
}

h2.title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
}

.form_container {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20rem;
}
.form {
    min-width: 350px;
    width: 100%;
    max-width: 420px;
}

.form label  {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: #111827;
}

.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    display: block;
    outline: none;
    padding: 6px 16px;
    border: 1px solid black;
    border-radius: 0.375rem; 
    color: #111827; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    font-size: 0.875rem;
    line-height: 1.5;
}



.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: none;
    border-color: #2137f8;
}

.form .container_input {
    margin-top: 8px;
}

.form .password_forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.form .password_forgot a {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: #111827;
}

.form .password_forgot a:hover {
    text-decoration: underline;
    color: #2137f8;
}

.form button {
    width: 100%;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #2137f8;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}